#main-header {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(39, 74%, 48%);
  background-image: url(../images/asfalt-light.png);
  color: #FFFF;
}

.avatar {
  padding-top: 1.5em;
}