nav #logo {
  font-family: 'Bungee', cursive;
  font-size: 36px;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFF;
  padding: 1.5em;
  position: fixed;
  top: 0;
}

#arrow {
  width: 35px;
}

#write-a-new-tweet:hover {
  transform: scale(1.2);
  transition: transform 0.6s ease;
}

#write-a-new-tweet:hover #arrow {
  animation: bounce 0.5s infinite;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 12px, 0);
  }
}

#write-a-new-tweet {
  text-align: center;
  cursor: pointer;
  opacity: .5;
}

#write-a-new-tweet:hover {
  opacity: 1;
}
